---
title: Page Title
---

.delete-me
  .container
    %h1 Proteus
    %p
      You&rsquo;re all set!
      <a href="http://github.com/thoughtbot/proteus-middleman">Let&rsquo;s get started</a>
      building your prototype.
